@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
  }

  body {
    @apply bg-black text-white;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .glass {
    @apply bg-white/[0.05] backdrop-blur-xl border border-white/10;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#00FFA3] to-[#DC1FFF];
  }
}
